.login-form {
  width: 400px;
  background-color: #e9e7e4;
  padding: 0px 15px;
  overflow: scroll;
}
.login-form form {
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-form h2 {
  margin: 0 0 15px;
}
.login-form .hint-text {
  color: #777;
  padding-bottom: 15px;
  text-align: center;
}
.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
}
.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}
.social-btn .btn {
  margin: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
}
.social-btn .btn i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}
.input-group-addon .fa {
  font-size: 18px;
}

body .btn-fb,
body .btn-fb:hover,
body .btn-fb:active {
  color: #fff !important;
  background-color: #f18024 !important;
  border-color: #f18024 !important;
  box-shadow: none !important;
}

body .btn-gg,
body .btn-gg:hover,
body .btn-gg:active {
  color: #33363a !important;
  background-color: #d2d2d2 !important;
  border-color: #d2d2d2 !important;
  box-shadow: none !important;
}

body .login-btn {
  background-color: #f18024 !important;
  border-color: #f18024 !important;
  box-shadow: none !important;
}

body .login-btn:hover,
body .login-btn:active {
  background-color: #cb620d !important;
  border-color: #cb620d !important;
}

body .text-success.custom-text-success,
body .text-success.custom-text-success:hover,
body .text-success.custom-text-success:active {
  color: #f18024 !important;
}

.loading {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(241, 128, 36, 0.2);
  border-radius: 50%;
  border-top-color: #f18024;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

button.btn.btn-block.login-btn {
  display: inline-block;
  margin-top: 0px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.container {
  padding: 0px;
}

.form-group {
  margin-bottom: 0px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
}

.white-anchor:hover {
  color: #fff;
  text-decoration: underline;
}

.white-anchor {
  color: #fff;
  text-decoration: none;
  background-color: initial;
}

.form-control:focus {
  border-color: #f18024;
  box-shadow: 0 0 0 0.2rem rgba(241, 128, 36, 0.25);
}

body nav.navbar.green-color.shadow-sm {
  background-color: "#20c048 !important";
}

body .main-content {
  position: relative;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

body div.tab-pane.fade.show.active {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 186px;
}

body div.tab-pane.fade.show.active div.tab-pane-child {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  padding: 10px;
  position: relative;
  flex: 0 1 169px;
  text-align: center;
  cursor: pointer;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  margin: 1px 1px 6px 1px;
}

body div.tab-pane.fade.show.active div.tab-pane-child.horizontal-child {
  flex: none;
  width: 100%;
}

body .tab-content {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-right: 0px;
  margin-bottom: -15px;
}
.site-logo {
  width: 100%;
  max-height: 60px;
}

body .content-retailer {
  /* flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; */
  text-align: left;
}

body .content-retailer div.content-retailer-child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
}

.content-retailer-child div img {
  width: 30%;
  float: left;
  margin-right: 10px;
}

.login-form nav.navbar {
  position: fixed;
  width: 100%;
  background-color: #e9e7e4;
  z-index: 9;
  padding: 10px 30px 10px 0px;
}

.login-form .fixed-footer {
  position: fixed;
  bottom: 0;
  background-color: #e9e7e4;
  width: 100%;
  left: 0px;
}

.login-form .load-more {
  margin-bottom: 41px;
  padding: 15px 0px;
  text-align: center;
}

.horizontal-child button.btn.btn-default {
  background-color: #e9e7e4;
  transition: 0.4s ease-in-out;
}

.horizontal-child button.btn.btn-default:hover {
  background-color: #ccc;
}

span.site-icon i {
  color: #000;
}

span.site-icon.back {
  position: absolute;
  top: 20px;
  font-size: 16px;
  font-weight: 100;
}

span.site-icon.close {
  position: absolute;
  right: 40px;
  top: 23px;
  font-size: 16px;
  opacity: unset;
}

span.site-icon.back:hover {
  opacity: 0.7;
}

li.nav-item {
  width: 96px;
  text-align: center;
}

.search-button {
  width: 100%;
  display: block;
  position: relative;
}

.search-button input {
  width: 100%;
  padding: 3px 5px;
  margin: 10px 0px 0px 0px;
}

.search-button div {
  display: block !important;
}

.search-button span.search-icon {
  position: absolute;
  right: 10px;
  top: 15px;
}

.login-form .fixed-footer ul.nav {
  display: table;
  align-items: center;
  /* background-color: #20c048; */
  width: 100%;
}

.login-form .fixed-footer ul.nav.nav-tabs li {
  display: table-cell;
  width: 40%;
  /* border: 1px solid #fff; */
  vertical-align: middle;
}

.login-form .fixed-footer ul.nav.nav-tabs li.fb {
  width: 10%;
}

.login-form .fixed-footer ul.nav.nav-tabs li a {
  font-size: 14px;
  padding: 9px 0px;
  border: none;
}

.login-form .fixed-footer ul.nav.nav-tabs li a.active {
  background-color: #e6dac8;
}
.head-tabs {
  background-color: #fff;
  width: 100%;
  margin-top: 5px;
}

.head-tabs .nav-tabs .nav-item {
  width: 33.3%;
  background-color: #20c048;
  border: 1px solid #fff;
}

.head-tabs .nav-tabs .nav-item a.nav-link {
  display: block;
  border: none;
  font-size: 14px;
  color: #fff;
}

.head-tabs .nav-tabs .nav-item.contact-us {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.head-tabs .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #ff3000;
  background-color: #20c048;
}
.head-tabs .nav-tabs .nav-item a.nav-link:hover {
  color: #e9e7e4;
}
